<article class="post">
    <div class="whole-post">
        <div class="info-section">
            <div class="post-name">
                <a href="/post/{{id}}" class="links">{{title}}</a>
            </div>
            <div class="created-by">
                <p id="comment-subtitle">
                     <b>{{user.username}} </b> on <b>{{formatDate created_at}}</b>
                     {{!-- <a href="https://twitter.com/{{user.twitter}}"><i class="fab fa-twitter"></i></a> 
                     <a href="https://github.com/{{user.github}}"><i class="fab fa-github"></i></a> --}}
                </p>
                
            </div>
        
        </div>
        <div class="content-section">
            <p>{{content}}</p>
        </div>
    </div>
</article>